/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section, textarea, input, select {margin:0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: "Lucida Grande", Arial, Helvetica;text-decoration: none;}
:focus, :active { outline: 0 }
ol, ul { list-style: none }
header, nav, article, aside, footer, hgroup, section { display: block }
span.clear{ clear:both}
strong{ font-weight:bold;}